@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Pasajero";
  src: url("./assets/Pasajero.otf");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
}
.header__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.header {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  position: relative;
}
.header__logo__img {
  width: 180px;
}
.header__nav__menu {
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0em;
  cursor: pointer;
  color: black;
}

.header__nav__menu__active {
  background: linear-gradient(90deg, #88cb90, #446648);
  color: white;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__link {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}
.header__nav__link:hover {
  transition: 300ms ease-in-out;
  text-decoration: underline;
}
.header__nav__button {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 1em;
}
.header__nav__button:hover {
  transition: 300ms ease-in-out;
  background-color: white;
  color: black;
}
.home__banner {
  background: linear-gradient(90deg, #446648, #88cb90);
  width: 100%;
  margin: 0em auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 600px;
  overflow: hidden;
}
.home__banner__content {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}
.home__banner__content__left {
  width: 50%;
}
.home__banner__content__right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__banner__content__right__img {
  width: 100%;
  max-width: 400px;
}
.home__banner__content__left__heading {
  font-family: Pasajero, "Montserrat", sans-serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 0.3em;
}
.home__banner__content__left__info {
  font-size: 15px;
  color: white;
  margin-bottom: 1.5em;
}
.home__banner__content__left__button {
  padding: 1em 2.2em;
  background-color: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
  border: none;
}
.home__banner__content__left__button:hover {
  transition: 300ms ease-in-out;
  background-color: #446648;
  color: white;
}

.home__stats__board__filter {
  width: 100%;
  max-width: 1440px;
  margin: 3em auto;
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home__stats__board__filter__special .home__stats__board__filter__entry {
  width: 18%;
}
.home__stats__board__filter__entry {
  width: 23%;
  position: relative;
}
.home__stats__board__filter__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.home__stats__board__filter__entry__content {
  height: 200px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.home__stats__board__filter__entry__content svg {
  margin-bottom: 1.5em;
}
.home__stats__board__filter__entry__input:hover
  ~ .home__stats__board__filter__entry__content {
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.01);
}
.home__stats__board__filter__entry__input:checked
  ~ .home__stats__board__filter__entry__content {
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #88cb90, #446648);
  border-color: transparent !important;
  color: white;
}
.home__stats__board__table {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
}
.home__stats__board__table__header {
  background: linear-gradient(90deg, #88cb90, #446648);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 1em;
}
.home__stats__board__table__header__entry {
  flex: 1;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-right: 1em;
}
.home__stats__board__table__header__entry:first-child {
  max-width: 200px;
}
.home__stats__board__table__list {
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  margin-top: 1em;
  color: white;
  text-decoration: none;
}
.home__stats__board__table__list__entry {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-right: 1em;
}
.home__stats__board__table__list__entry:first-child {
  max-width: 200px;
  padding-left: 1em;
}
.home__stats__board__table__list__entry img {
  margin-right: 1em;
  width: 35px;
}
.home__stats__board__table__list__entry span {
  display: none;
  margin-right: 1em;
  width: 70px;
  font-weight: bold;
}
.home__stats__board__table__list:hover {
  transition: 300ms ease-in-out;
  background-color: #202020;
  color: white;
}
.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.popup__start__game__form {
  width: 100%;
  max-width: 600px;
  background-color: #202020;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__start__game__form__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup__start__game__form__content__entry {
  width: 48%;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  border: none;
}
.popup__start__game__form__content__entry__label {
  font-size: 15px;
  color: black;
  margin-top: 1.5em;
}
.popup__start__game__form__content__entry__label span {
  font-weight: bold;
  color: #64966a;
}
.popup__start__game__form__content__entry:hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #88cb90, #446648);
}
.popup__start__game__form__content__entry:hover
  .popup__start__game__form__content__entry__label {
  transition: 200ms ease-in-out;
  color: white;
}
.popup__start__game__form__content__entry:hover
  .popup__start__game__form__content__entry__label
  span {
  transition: 300ms ease-in-out;
  color: white;
}
.popup__start__game__form__button {
  padding: 0.7em 2em;
  border: none;
  background-color: #de3131;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  color: white;
  margin-top: 1.5em;
  cursor: pointer;
}
.popup__start__game__form__button:hover {
  transition: 300ms ease-in-out;
  border-color: #de3131;
}
.home__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0em auto;
  background: linear-gradient(45deg, #88cb90, #446648);
  margin-bottom: 4em;
  padding: 3em 2em;
}
.home__form__heading {
  font-size: 30px;
  font-family: Pasajero, "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}
.home__form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1em;
}
.home__form__input__label {
  font-size: 14px;
  color: white;
  margin-bottom: 0.5em;
}
.home__form__input__field {
  width: 100%;
  height: 45px;
  border-radius: 50px;
  padding: 0em 1.5em;
  border: none;
}
.home__form__input__field:hover {
  outline-color: #446648;
}
.home__form__input__field:focus {
  outline-color: #446648;
}
.home__form__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
}
.home__form__row__entry {
  position: relative;
  margin-right: 1em;
}
.home__form__row__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.home__form__row__entry__content {
  color: white;
  padding: 0.7em 1.2em;
  white-space: nowrap;
  font-size: 14px;
  text-align: center;
  border: 1px solid white;
  font-weight: 500;
}
.home__form__row__entry__input:hover ~ .home__form__row__entry__content {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.home__form__row__entry__input:checked ~ .home__form__row__entry__content {
  background-color: white;
  color: black;
}
.footer__conatiner {
  width: 100%;
  height: fit-content;
  background: url("https://img.freepik.com/free-vector/white-background-with-zigzag-pattern-design_1017-33197.jpg?t=st=1658317179~exp=1658317779~hmac=9c462166382e0fccaef697a4a73c503d6e63b3e590c5249ab7ccd54f36c4476d&w=1380");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__conatiner__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5em 2em;
}
.footer__overlay__content__col {
  flex: 1;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__start__game__form__content__entry__icon img {
  width: 50px;
}
.footer__overlay__content__col:last-child {
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}
.footer__overlay__content__col__heading {
  font-size: 18px;
  color: #0c0e17;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.footer__overlay__content__col__entry {
  color: #0c0e17;
  margin-right: 1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #64966a, #446648);
  color: white;
  border-radius: 50px;
}
.footer__overlay__content__col__entry svg {
  width: 20px;
  height: 20px;
}
.footer__overlay__content__col__entry:hover {
  transition: 300ms ease-in-out;
  color: white;
  background: linear-gradient(#446648, #64966a);
}
.footer__overlay__content__col__img {
  width: 180px;
}
.footer__overlay__content__col__text {
  font-size: 16px;
  margin-top: 2em;
  width: 90%;
  text-align: center;
}
.footer__overlay__content__col__text:last-child {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 50px;
  color: #242424;
}
.footer__conatiner__buttom__border {
  width: 90%;
  height: 1px;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.5);
}
.footer__conatiner__buttom__content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 1em;
  color: #0c0e17;
  font-size: 14px;
}
.footer__conatiner__buttom__content__right__para {
  display: flex;
  align-items: center;
}

.home__search {
  display: flex;
  width: 100%;
  max-width: calc(1440px - 4em);
  padding: 0em 1.5em;
  margin: 0em auto;
  background-color: #303030;
  height: 50px;
  align-items: center;
  border: 1px solid transparent;
}
.home__search__field {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 1.5em;
  color: white;
}
.home__search:hover {
  border-color: white;
  transition: 300ms ease-in-out;
}
.home__search:focus-within {
  transition: 300ms ease-in-out;
  border-color: white;
}
.home__nfts {
  width: 100%;
  max-width: 1440px;
  padding: 2em 1em;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
}
.home__nfts__card {
  width: 31%;
  margin: 1%;
  background-color: white;
  padding: 2em;
  padding-top: 0em;
  border: none;
  cursor: pointer;
}
.home__nfts__card__img {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__nfts__card__img img {
  width: 250px;
}
.home__nfts__card__heading {
  font-weight: bold;
}
.home__nfts__card:hover {
  background: linear-gradient(45deg, #88cb90, #446648);
}
.home__nfts__card:hover .home__nfts__card__heading {
  color: white;
}
.home__nfts__card__button {
  background-color: #88cb90;
  color: white;
  padding: 0.7em 2em;
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  cursor: pointer;
}
.home__nfts__card:hover .home__nfts__card__button {
  background-color: white;
  color: black;
}
.home__nfts__card:hover .home__nfts__card__button:hover {
  background-color: black;
  color: white;
}
.reward__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1440px - 4em);
  padding: 2em 4em;
  margin: 0em auto;
  margin-bottom: 3em;
}
.reward__entry:nth-child(3) {
  background: linear-gradient(90deg, #bf3114, #deb149);
}
.reward__entry:nth-child(5) {
  background: linear-gradient(90deg, #1447bf, #49dec0);
}
.reward__entry:nth-child(7) {
  background: linear-gradient(90deg, #9214bf, #de49d9);
}
.reward__entry__reverse1 {
  background: linear-gradient(90deg, #42ac4e, #59db69);
}
.reward__entry__reverse2 {
  background: linear-gradient(90deg, #bf142b, #de4949);
}
.reward__entry__reverse {
  flex-direction: row-reverse;
}
.reward__entry__left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reward__entry__left__img {
  width: 100%;
  max-width: 300px;
  margin-right: 2em;
}
.reward__entry__right {
  width: 60%;
}
.reward__entry__right__heading {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.reward__entry__right__info {
  width: 100%;
  color: white;
  font-size: 15px;
}
.reward__entry__reverse .reward__entry__left__img {
  margin-left: 2em;
  margin-right: 0em;
}
.game__container {
  width: 100%;
  max-width: 1400px;
  margin: 0em auto;
  padding: 0em 2em;
  padding-top: 2em;
}
.game__container__header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2em;
}
.game__container__header__left {
  font-size: 30px;
  font-family: Pasajero, "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}
.game__container__header__left span {
  font-size: 14px;
}
.game__container__header__right img {
  width: 50px;
}
.game__container__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.game__container__main__entry {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.game__container__main__entry__car {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
  border-bottom: 2px dashed rgb(216, 216, 216);
  margin-right: 1em;
}
.game__container__main__entry__end__done {
  font-size: 16px;
  margin-top: -1em;
  color: white;
  margin-bottom: 1em;
}
.checkbox {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin-right: auto;
}
.checkbox__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.checkbox__content {
  display: flex;
  align-items: center;
}
.checkbox__content__indicator {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  border-radius: 5px;
}
.checkbox__content__label {
  font-size: 14px;
  font-weight: bold;
}
.popup__reverse {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  padding-top: 6em;
  overflow-y: auto;
}
.popup__reverse__form {
  width: 100%;
  max-width: 500px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}
.popup__reverse__form__close {
  color: #242424;
  top: 2em;
  right: 2em;
  position: absolute;
  background-color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}
.popup__reverse__form__close:hover {
  color: red;
}
.popup__reverse__form__content {
  padding: 4em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__reverse__form__content__img {
  width: 180px;
}
.popup__reverse__form__content__heading {
  font-size: 30px;
  color: black;
  margin: 0.5em 0em;
  text-align: center;
}
.popup__reverse__form__content__heading span {
  font-weight: bold;
}
.popup__reverse__form__content__input {
  width: 100%;
  background-color: #f3f3f3;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 40px;
  padding: 0em 1em;
  border: none;
  color: #42ac4e;
  outline: 2px solid transparent;
  border-radius: 5px;
}
.popup__reverse__form__content__input::placeholder {
  color: black;
}
.popup__reverse__form__content__input:hover,
.popup__reverse__form__content__input:focus {
  transition: 300ms ease-in-out;
  outline-color: #42ac4e;
}
.popup__reverse__form__content__upload {
  position: relative;
  top: 0.5em;
  margin-bottom: 2em;
  width: 100%;
}
.popup__reverse__form__content__upload__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.popup__reverse__form__content__upload__content {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.popup__reverse__form__content__upload__content__filled {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.popup__reverse__form__content__upload__content__filled__img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.checkbox__content__label a {
  color: #242424;
}
.popup__reverse__form__content__button {
  margin-top: 2em;
  height: 40px;
  background: linear-gradient(#42ac4e, #446648);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.popup__reverse__form__content__button:hover {
  background: linear-gradient(#446648, #42ac4e);
}

.scorecard__reverse__form__img {
  position: absolute;
  top: -55px;
  right: -65px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
}
.scorecard__reverse__form__img img {
  width: 200px;
  height: 200px;
}
.scorecard__reverse__form__content {
  padding: 4em 2em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scorecard__reverse__form__content__header {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.scorecard__reverse__form__content__header__congrates {
  color: #202020;
  font-size: 25px;
  font-weight: 500;
}
.scorecard__reverse__form__content__heading {
  color: #202020;
  font-size: 30px;
  font-weight: 600;
}
.scorecard__reverse__form__content__heading span {
  font-size: 40px;
}
.scorecard__reverse__form__content__sub__heading {
  color: #59db69;
  font-size: 18px;
  font-weight: 500;
}
.scorecard__reverse__form__content__score__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scorecard__reverse__form__content__score__card__heading {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1em;
  padding: 0em 0.5em;
}
.scorecard__reverse__score__card__data__text {
  font-size: 16px;
}
.scorecard__reverse__score__card__data__text span {
  font-size: 18px;
  font-weight: bold;
}
.scorecard__reverse__score__card__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 18px;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}
.scorecard__reverse__score__card__data:hover {
  background-color: #f3f3f3;
  color: #42ac4e;
}

.scorecard__reverse__form__content__go__to__home {
  margin-top: 2em;
  height: 40px;
  background: white;
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  padding: 0em 2em;
  cursor: pointer;
}
.scorecard__reverse__form__content__go__to__home:hover {
  color: #ffff;
  border: 1px solid #42ac4e;
  background: #42ac4e;
}
@media (max-width: 1440px) {
  .reward__entry {
    margin: 0em 2em;
    margin-bottom: 2em;
    width: calc(100% - 4em);
  }
}
@media (max-width: 1000px) {
  .home__stats__board__table__header__entry:first-child {
    max-width: 100px;
  }
  .home__stats__board__table__list__entry:first-child {
    max-width: 100px;
  }
  .home__nfts__card {
    width: 48%;
  }
}
@media (max-width: 958px) {
  .home__banner__img {
    width: 400px;
    height: fit-content;
  }
}

@media (max-width: 858px) {
  .popup__reverse__form__content {
    padding: 3em 2em;
  }
  .popup__reverse__form__content__heading {
    font-size: 20px;
    margin: 1em 0em;
  }
  .home__stats__board__filter__entry {
    width: 48%;
  }
  .home__stats__board__filter__entry:nth-child(1),
  .home__stats__board__filter__entry:nth-child(2) {
    margin-bottom: 2em;
  }
  .home__banner__overlay__img {
    width: 70px;
  }
  .home__banner__overlay__content__heading {
    font-size: 40px;
  }
  .footer__conatiner__content {
    flex-direction: column;
  }

  .footer__overlay__content__col {
    width: 100%;
    margin-top: 2em;
  }
  .footer__overlay__content__col__text {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .header__nav__menu {
    display: flex;
  }
  .header__nav {
    position: absolute;
    flex-direction: column;
    top: 4.5em;
    left: 0px;
    background-color: white;
    width: 100%;
    padding-bottom: 1.5em;
    z-index: 9999;
  }
  .header__nav__link {
    color: black;
  }
  .header__nav__button {
    margin-left: 0em;
    margin-top: 0.5em;
    color: white !important;
    background: linear-gradient(90deg, #88cb90, #446648);
  }
}
@media (max-width: 768px) {
  .home__banner__overlay {
    padding: 0em 3em;
  }
  .home__banner__overlay__content {
    max-width: 350px;
  }
  .reward__entry {
    flex-direction: column;
    padding: 4em;
  }
  .reward__entry:nth-child(3) {
    margin-top: 5em;
  }
  .reward__entry__left {
    width: 100%;
  }
  .reward__entry__right {
    width: 100%;
    margin-top: 4em;
  }
  .home__banner__img {
    width: 300px;
  }
  .home__banner {
    padding: 8em 0em;
    padding-bottom: 0em;
  }
  .home__banner__content {
    flex-direction: column;
  }
  .home__banner__content__left {
    width: 100%;
  }
  .home__banner__content__right {
    margin-top: 4em;
    width: 100%;
  }
}
@media (max-width: 708px) {
  .footer__conatiner__buttom__content__left__para {
    margin-bottom: 1em;
  }
  .footer__conatiner__buttom__content__right__para {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
  }
  .footer__conatiner__buttom__content {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
  }
  .scorecard__reverse__form__img {
    right: -30px;
    top: -80px;
  }
  .scorecard__reverse__form__img img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 650px) {
  .home__nfts__card {
    width: 100%;
  }
  .popup__start__game__form__content {
    flex-direction: column;
  }
  .popup__start__game__form__content__entry {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .popup__start__game__form__button {
    margin-top: 0em;
  }
}
@media (max-width: 600px) {
  .home__banner__img {
    width: 400px;
    opacity: 0.2;
  }
  .home__stats__board__table__header {
    display: none;
  }
  .home__stats__board__table__list {
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-start;
  }
  .home__stats__board__table__list__entry {
    margin-bottom: 0.5em;
  }
  .home__stats__board__table__list__entry span {
    display: flex;
  }
  .home__stats__board__table__list__entry:first-child {
    display: none;
  }
}
@media (max-width: 500px) {
  .home__banner__overlay__content {
    max-width: 100%;
  }
  .home__banner__overlay {
    flex-direction: column;
  }
  .home__banner__overlay__img {
    margin-bottom: 1em;
  }
  .home__stats__board__filter__entry {
    width: 100%;
    margin-bottom: 2em;
  }
  .home__stats__board__filter__entry:last-child {
    margin-bottom: 0em;
  }
  .game__container__main {
    min-height: 200px;
  }
  .game__container__header {
    margin-bottom: 0em;
  }
  .scorecard__reverse__form__img {
    right: 0px;
  }
  .popup__reverse {
    padding: 2em 0em;
  }
  .scorecard__reverse__form__content {
    padding: 4em 0.5em;
  }
}
@media (max-width: 350px) {
  .home__banner__overlay {
    padding: 0em 2em;
  }
}
